# .gitattributes
* text=auto
* text eol=lf
*.zip binary
# GitHub Linguist Override
.yarn/* linguist-vendored
.pnp.js linguist-vendored
/validate.js linguist-vendored

# Exclude files in composer distribution
/.*               export-ignore
/spec             export-ignore
/phpunit.xml      export-ignore
/package.json     export-ignore
/validate.js      export-ignore
/yarn.lock        export-ignore
